<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/low_rez"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/low_rez"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiai">

        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login.LoginActivity"
            android:label="Kiai"
            android:theme="@style/Theme.Kiai.NoActionBar">

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kiai.NoActionBar"></activity>
    </application>

</manifest>